# STRING AND LIST METHODS AND ATTRIBUTES

In [1]:
a="Saylani"
print(a)
print(type(a))

Saylani
<class 'str'>

In [2]:
a="saYlanI welFare trUst"
a

'saYlanI welFare trUst'

In [3]:
a.capitalize()

'Saylani welfare trust'

In [4]:
a.upper()

'SAYLANI WELFARE TRUST'

In [5]:
a.title()

'Saylani Welfare Trust'

In [6]:
a.lower()

'saylani welfare trust'

In [7]:
abc="""
Muhammad Hasnain Raza
Muhammad Saleem
age 20
"""
print(abc)

Muhammad Hasnain Raza
Muhammad Saleem
age 20

In [9]:
abc='''
Saylani Welfare Trust
City: Karachi
Country: Pakistan
'''
print(abc)

Saylani Welfare Trust
City: Karachi
Country: Pakistan

In [10]:
abc="""
***** **PIAIC********
Saylani Welfer Trust
Name: Muhammad Hasnain Raza
Father's Name: Muhammad Saleem
age: 20
"""

print(abc)

***** **PIAIC********
Saylani Welfer Trust
Name: Muhammad Hasnain Raza
Father's Name: Muhammad Saleem
age: 20

In [27]:
name= "Muhammad Hasnain Raza"
father_name= "Muhammad Saleem"
my_age= "21"
abc = """
*******PIAIC*******
Saylani Welfer Trust
Name: {}
Father's Name: {}
My age: {}
"""
print(abc.format(name, father_name, my_age))

*******PIAIC*******
Saylani Welfer Trust
Name: Muhammad Hasnain Raza
Father's Name: Muhammad Saleem
My age: 21

In [29]:
a=input("Enter Your Name:")
a

Enter Your Name:Muhammad Hasnain Raza

'Muhammad Hasnain Raza'

In [30]:
name= input("Enter Your Name:")
father_name= input("Enter Your Father's Name:")
age= input("Enter Your Age:")

abc = """
******PIAIC******
Saylani Welfare Trust
Name: {}
Father Name: {}
My age: {}
"""
print(abc.format(name, father_name, age))

Enter Your Name:Muhammad Hasnain Raza
Enter Your Father's Name:Muhammad Saleem
Enter Your Age:20

******PIAIC******
Saylani Welfare Trust
Name: Muhammad Hasnain Raza
Father Name: Muhammad Saleem
My age: 20

In [32]:
a = "Saylani"
b = "Welfare"
c = "Trust"
a + b + c #concatinact

'SaylaniWelfareTrust'